* {
    text-align: center;
    
}

.mainDiv {
    border: 1px solid;
    margin: 0 25%;
    height: 33rem;
    overflow: auto;

}

.mainDiv::-webkit-scrollbar {
    overflow: hidden;
}

.input {
    width: 30rem;
    height: 3rem;
    text-align: left;
}

.addBtn {
    color: blue;
    height: 3.5rem;
    /* border-radius: .7rem; */
}